## latex
*.aux
*.lof
*.log
*.out
*.toc

*.lol
*.xdv
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz


## Bibliography
*.bbl
*.bcf
*.blg

## Beamer
*.nav
*.snm
*.vrb
*.run.xml

## Minted
_minted*
*.pyg

# Generated pdf
DP_Jesina_Matyas_2023.pdf